* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #000;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: #000;
    height: 75px;
}

.header_content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    display: flex;
    color: #fff;
    gap: 30px;
    list-style: none;

}

.nav a:hover {
    color: #1ed760;
}

h1 {
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 56px;
}

h3 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    font-weight: 800;
}

p {
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;

}

/*------------------------------------------------- Section 1 -----------------------------------------------------------*/

.download-section {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 100px 0;
    gap: 40px;
    background-color: #19e68c;
}

.laptop {
    position: relative;
}

.laptop_img {
    width: 140px;
}

.absolute-center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-55%, -50%);
}

.btn {
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    font-weight: 780;
    line-height: 45px;
    letter-spacing: -0.4px;
    width: 120px;
    height: 45px;
    outline-color: #fff;
    outline-offset: 4px;
    outline-width: 3px;
    transition: outline 100ms ease-in-out;
    
}

.btn:focus {
    outline: solid white;
}

.btn:hover {
    transform: scale(1.05);
    background-color: whitesmoke;
}

.btn:active {
    transform: scale(1);
}

/*------------------------------------------------------ Section 2 -------------------------------------------------------*/

.mobile-apps-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
    height: 300px;
    justify-content: space-between;
    background-color: white;
}

.os-buttons {
    display: flex;
    align-items: center;
}

.os-buttons a {
    margin: 7px;
}

.img-devices {
    margin-bottom: 25px;
}

/*--------------------------------------------------- Section 3 -------------------------------------------------------*/

.all-platforms {
    background-color: #222326;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 70px 15px 50px;
}

.devices-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    margin: 25px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2.25px;
    text-transform: uppercase;
}

.devices-list a:hover {
    color: rgb(30, 215, 96);
}

.green {
    color: rgb(29, 185, 84)
}

/*----------------------------------------------- Footer --------------------------------------------------*/

footer {    
    padding: 80px 0 50px;
    color: #919496;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

footer .logo_Spotify {
    margin-top: -20px;
}

.footer-nav {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.footer-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lists {    
    width: 200px;
    padding: 0 15px;
}

.lists a {
    line-height: 1.5;
}

.social-media {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.social-media a img {
    width: 24px;
    background-color: white;
}

.social-media a:hover img {
    background-color: #1ed760;
}

.social-media a {
    background-color: #222326;
    padding: 15px;
    border-radius: 50%;
    line-height: 0;
    
}

.country {
    text-align: right;
    font-weight: 400;
}

.a-country {
    color: #919496;
    font-size: 12px;
}

.spacer {
    flex: 1 0;
}

.info {
    display: flex;
    list-style: none;
    gap: 10px;
    width: 100%;
    font-size: 12px;
}

.info span {
    display: flex;
    align-items: center;
}

.info li {
    display: flex;
}

.info li a {
    color: #919496;
    padding: 1rem 0;
    line-height: 1.5;
}

footer a:hover {
    color: #1ed760;
}